<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="short" href="">
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <center id="Cent">
        <div id="bmess1" class="bmess" style="margin-bottom: 10px; padding:15px 10px; align-self: center; box-shadow:10px 8px 20px 0px #939191;">
            <div class="h">
                Landmark's Student Assistant ( L S A )  <br>Chatbot
            </div>
            <div class="botI" style="width:80px; height:80px;">
                <img src="../static/img/prop.png" width="100%" style="border-radius: 90px; background-size: cover; " height="100%" alt="">
            </div>
            Hello and welcome, I'm here to assist you in educational<br>
            and institute related questions. <br>
            Bear in mind that I would often refer to Landmark Metropolitan University as Landmark :)
        </div>
    </center>
    <div class="container" id="cont">
        <div class="header">
            <button >
                <a onclick="hideCon()"><i class="fa fa-arrow-left"></i></a>
            </button>
            <div class="botI">
                <img src="../static/img/prop.png" width="100%" style="border-radius: 100px; background-size: cover; " height="100%" alt="">
            </div>
            <p style="position: relative; top: -10%;font-size: 0.9rem;font-weight: bold;">
                ZYLLA<small>1.0.2</small>
            </p>
            <div class="moreOp" id="moreOp" onmouseover="more()">
                <i class="fa fa-ellipsis-v" ></i>
                <div class="menu" style="display: none;" id="moreL" onmouseover="more()">
                    <ul>
                        <li>Eval</li>
                        <li>DashB</li>
                        <li onclick="logout()">Logout</li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        
        <div class="messages" id="chatWindow">
        
            
            
        </div>

        <form action="" method="post" id="message-form">
            <input type="text" name="message" placeholder="Write a message..." id="userInput">
            <button class="send" type="submit" > <i class="fa fa-paper-plane" style="color: #fff;"></i></button>
        </form>
       
    </div>
        <div class="chat" onclick="showCon()">
            <i class="fa fa-comment" style="color: #fff; font-size:1.5rem;"></i><div> chat</div>
        </div>
        <script src="../static/js/app.js"></script>
</body>
</html>