<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="short" href="">
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <center >
        <div id="bmess1" class="bmess" style="margin-bottom: 10px; padding:15px 10px; align-self: center; box-shadow:10px 8px 20px 0px #939191;">
            <div class="h">
                LANDMARK's STUDENT ASSISTANT(LSA)  <br>CHATBOT
            </div>
            <div class="botI" style="width:80px; height:80px;">
                <img src="../static/img/prop.jpg" width="100%" style="border-radius: 90px; background-size: cover; " height="100%" alt="">
            </div>
            Hello and welcome, I'm here to assist you in educational<br>
            and institute related questions. 
        </div>
    </center>
    <div class="container" id="cont">
        <div class="header">
            <button >
                <a onclick="hideCon()"><i class="fa fa-arrow-left"></i></a>
            </button>
            <div class="botI">
                <img src="../static/img/prop.jpg" width="100%" style="border-radius: 100px; background-size: cover; " height="100%" alt="">
            </div>
            <p style="position: relative; top: -10%;">
                ZYLLA<small>1.0.1</small>
            </p>
            <div class="moreOp">
                <i class="fa fa-ellipsis-v"></i>
            </div>
        </div>
        
        <div class="messages" id="chatWindow">
        
            
            
        </div>

        <form action="" method="post" id="message-form">
            <input type="text" name="message" placeholder="Write a message..." id="userInput">
            <button class="send" type="submit" > <i class="fa fa-paper-plane"></i> send</button>
        </form>
       
    </div>
        <div class="chat" onclick="showCon()">
            <i class="fa fa-comment" style="color: #fff; font-size:1.5rem;"></i><div> chat</div>
        </div>
        <script >

                function showCon(){
                    console.log("clicked add")
                    let C = document.getElementById('cont');
                    
                    if (C.style.scale == 0){
                        C.classList.toggle('show');
                        
                    }
                }
                function hideCon(){
                    console.log("clicked del")
                    let C = document.getElementById('cont');
                    
                    if (C.style.scale == 0){
                        //C.style.display = 'none'
                        C.classList.toggle('show');
                    }
                }

                function addZero(i) {
                    if (i < 10) {
                      i = "0" + i;
                    }
                    return i;
                  }
                function currentTime() {
                  var d = new Date();
                  var h = addZero(d.getHours());
                  var m = addZero(d.getMinutes());
                  var s = addZero(d.getSeconds());
                   return `${h} : ${m}: ${s}`;
            }


            document.getElementById('message-form').addEventListener('submit', (event) => {
                event.preventDefault();
                let message = document.getElementById('userInput').value;
                console.log(message);

                //clear form input to show that message has been sent.....
                document.getElementById('userInput').value = '';

                //asynchronus request sent to backend...
                fetch('/send_message', {method: 'POST', 
                headers:{'Content-Type':'application/x-www-form-urlencoded'}, 

                body: 'message=' + encodeURIComponent(message)
                }).then(response => response.json()).then(data =>{

                    var chatwin = document.getElementById('chatWindow');
                    var userQ = document.createElement('li');
                    var mbox = document.createElement('div');
                    mbox.textContent = message;
                    var img1 = document.createElement('img');
                    var nTime = document.createElement('div');
                    nTime.innerText = currentTime();
                    nTime.classList.add('sT');
                    mbox.appendChild(nTime); 
                    img1.classList.add('im1');
                    img1.src = "../static/img/profile.png";
                    mbox.appendChild(img1);
                    mbox.classList.add('umess');
                    userQ.appendChild(mbox);
                    chatwin.appendChild(userQ);

                    var resposeM = document.createElement('li');
                    var bBox = document.createElement('div');
                    var img = document.createElement('img');
                    img.classList.add('im');
                    
                    img.src = "../static/img/prop.jpg";
                    bBox.classList.add('bmess')
                    bBox.innerHTML = data.answer;
                    var Time = document.createElement('div');
                    Time.innerText = currentTime();
                    Time.classList.add('mT');
                    bBox.appendChild(Time);
                    bBox.appendChild(img);
                    resposeM.appendChild(bBox);
                    //<!-- console.log(data.response) -->
                    chatwin.appendChild(resposeM);
                    chatwin.scrollTop = chatwin.scrollHeight;
                    console.log(chatwin.scrollTop)
                    console.log(data, 12344);
                    
            
                });
            
            });
            
        </script>
</body>
</html>