<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUP</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <form action="/" method="POST">
            <h2>
                LSA_Chatbot
            </h2>
            
            <div class="content">
                {% if user %}
            <input type="email" name="email" placeholder="Enter your email" required value= "{{ user }}" >
            
            <input type="password" name="password" placeholder="**********" required maxlength="20">
            
            <input type="submit" style="padding: 0;" value="Login">
            {% else %}
            <input type="email" name="email" placeholder="Enter your email" required>
            
            <input type="password" name="password" placeholder="Set or Enter password" required maxlength="20">
            
            <input type="submit" style="padding: 0;width: 80%;align-self: center;" value="Login">
            {% endif %}
            {% if message %}
            <div class="error">
                {{ message }}
            </div>
            {% endif %}
            </div>
        </form>
        <div class="display">
            "Hi there!!" <br> 
            <p><a href="{{ url_for('chat') }}">Chat with Zylla</a></p>
           
        </div>
    </div>
</body>

</html>